.canalization {
   @include adaptiveValue("margin-bottom", 40, 30);

   &__container {
   }

   &__title {
      @include adaptiveValue("margin-bottom", 20, 15);
   }

   &__text {
      max-width: rem(770);
      @include adaptiveValue("margin-bottom", 40, 30);
   }

   &__subtitle {
      @include adaptiveValue("font-size", 32, 22);
      line-height: math.div(44, 32);
      text-transform: lowercase;
      font-weight: 700;
      @include adaptiveValue("margin-bottom", 20, 10);
   }

   &__info {
      display: flex;
      column-gap: rem(30);
      @media (max-width: em(768)) {
         display: block;
      }
      span {
         flex: 0 1 50%;
      }
   }
}
