.lift {
   @include adaptiveValue("padding-top", 50, 30);
   @include adaptiveValue("padding-bottom", 70, 30);

   &__container {
   }

   &__body {
      position: relative;
   }

   &__title {
      @include adaptiveValue("margin-bottom", 20, 15);
   }

   &__text {
      max-width: rem(770);
      @include adaptiveValue("margin-bottom", 40, 30);
   }

   &__subtitle {
      @include adaptiveValue("font-size", 32, 18);
      line-height: math.div(44, 32);
      text-transform: lowercase;
      font-weight: 700;
   }

   &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @include adaptiveValue("gap", 30, 10);
      margin: rem(20) 0;
      @media (max-width: em(1023)) {
         grid-template-columns: 1fr;
      }
   }

   &__feature {
   }

   &__image {
      @media (min-width: em(1024)) {
         position: absolute;
         top: rem(60);
         @include adaptiveValue("right", 30, 0, 1170, 1024, 1);
      }
      @media (max-width: em(1023)) {
         display: flex;
         justify-content: center;
         margin-top: rem(30);
      }
   }
}

.lift-items {
   &__item {
      padding: rem(20);
      &:nth-child(3) {
         grid-column-start: 1;
         grid-column-end: 2;
      }
   }

   &__title {
      @include adaptiveValue("font-size", 32, 22);
      font-weight: 700;
      text-transform: lowercase;
      margin-bottom: rem(15);
   }

   &__text {
   }
}

.lift-feature {
   display: flex;
   column-gap: rem(30);
   @include adaptiveValue("margin-top", 40, 20);

   &__items {
      flex: 0 1 50%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: rem(5);
      @media (max-width: em(768)) {
         flex: 1 1 auto;
      }
   }

   &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include adaptiveValue("font-size", 14, 12);
      line-height: math.div(19, 14);
      font-weight: 700;
      height: rem(33);
      border: rem(0.5) solid $colorDarkGrey;
      &:nth-child(1) {
         grid-row-start: 1;
         grid-row-end: 3;
         height: 100%;
      }
      &:nth-child(2) {
         grid-column-start: 2;
         grid-column-end: 4;
      }
      span {
         @media (max-width: em(425)) {
            display: none;
         }
      }
   }

   &__text {
      flex: 0 1 50%;
      @media (max-width: em(768)) {
         display: none;
      }
   }
}

._bg {
   background-color: $colorGrey;
   font-weight: 400;
   border: none;
}
