.window {
   @include adaptiveValue("padding-top", 50, 30);
   @include adaptiveValue("padding-bottom", 70, 30);
   background: $colorGrey;

   &__container {
   }

   &__title {
      margin-bottom: rem(20);
   }

   &__text {
      max-width: rem(670);
      @include adaptiveValue("margin-bottom", 50, 20);
   }

   &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: rem(50);
      @include adaptiveValue("margin-bottom", 50, 20);
      img {
         @include adaptiveValue("height", 747, 480);
      }
      @media (max-width: em(1024)) {
         flex-direction: column;
         row-gap: rem(30);
      }
   }

   &__items {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include adaptiveValue("gap", 30, 10);
   }

   &__accessories {
   }
}

.window-items {
   &__item {
      position: relative;

      padding: rem(20);
   }

   &__title {
      @include adaptiveValue("font-size", 32, 22);
      line-height: math.div(44, 32);
      font-weight: 700;
      margin-bottom: rem(10);
      text-transform: lowercase;
   }

   &__text {
   }

   &__decoration-1 {
      position: absolute;
      top: 50%;
      left: 100%;
      display: block;
      border-top: rem(1) solid $mainColor;
      border-right: rem(1) solid $mainColor;
      width: rem(230);
      height: rem(145);
      &::before {
         content: "";
         position: absolute;
         bottom: 0;
         left: 98%;
         width: rem(12);
         height: rem(12);
         border-radius: 50%;
         background-color: $mainColor;
      }
      @media (max-width: em(1024)) {
         display: none;
      }
   }

   &__decoration-2 {
      position: absolute;
      top: 50%;
      left: 100%;
      display: block;
      border-top: rem(1) solid $mainColor;
      border-right: rem(1) solid $mainColor;
      width: rem(300);
      height: rem(120);
      &::before {
         content: "";
         position: absolute;
         bottom: 0;
         left: 98%;
         width: rem(12);
         height: rem(12);
         border-radius: 50%;
         background-color: $mainColor;
      }
      @media (max-width: em(1024)) {
         display: none;
      }
   }

   &__decoration-3 {
      position: absolute;
      bottom: 50%;
      left: 100%;
      display: block;
      border-bottom: rem(1) solid $mainColor;
      border-right: rem(1) solid $mainColor;
      width: rem(435);
      height: rem(585);
      &::before {
         content: "";
         position: absolute;
         top: 0;
         left: 98.8%;
         width: rem(12);
         height: rem(12);
         border-radius: 50%;
         background-color: $mainColor;
      }
      @media (max-width: em(1024)) {
         display: none;
      }
   }
}

.window-accessories {
   &__title {
      @include adaptiveValue("font-size", 32, 18);
      line-height: math.div(44, 32);
      font-weight: 700;
      @include adaptiveValue("margin-bottom", 40, 25);
      text-transform: lowercase;
   }

   &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @include adaptiveValue("gap", 30, 10);
      @media (max-width: em(1024)) {
         grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: em(600)) {
         grid-template-columns: 1fr;
      }
   }

   &__item {
      background-color: #fff;
      padding: rem(20);
      display: flex;
      flex-direction: column;
      row-gap: rem(10);
   }

   &__subtitle {
      @include adaptiveValue("font-size", 24, 18);
      line-height: math.div(33, 24);
      font-weight: 700;
      text-transform: lowercase;
   }

   &__text {
   }
}
