.button-more {
   display: inline-flex;
   flex-direction: column-reverse;
   justify-content: center;
   align-items: center;
   row-gap: rem(10);
   align-self: center;
   @include adaptiveValue("font-size", 14, 12);
   line-height: math.div(19, 14);
   font-weight: 700;
   color: $colorBlue;

   &::before {
      transition: transform 0.3s ease 0s;
   }

   @media (any-hover: hover) {
      &:hover {
         &::before {
            transform: translate(0, rem(5));
         }
      }
   }
}
