.creditCalc {
   display: flex;
   flex-direction: column;
   flex: 0 0 rem(370);
   justify-content: space-between;
   @media (max-width: em(1024)) {
      row-gap: rem(20);
   }
   &__row {
      position: relative;
      display: flex;
      flex-direction: column;
      row-gap: rem(10);
      span {
         @include adaptiveValue("font-size", 14, 12);
         line-height: math.div(19, 14);
         color: #7b7b7b;
         position: absolute;
         top: 50%;
         right: rem(15);
      }
   }

   &__title {
      @include adaptiveValue("font-size", 14, 12);
      line-height: math.div(19, 14);
      color: $colorDarkGrey;
   }

   &__input {
      @include adaptiveValue("font-size", 16, 14);
      line-height: math.div(22, 16);
      height: rem(50);
      background-color: #f6f8fc;
      padding: 0 rem(15);
      font-weight: 700;
   }

   &__slider {
      -webkit-appearance: none;
      appearance: none;
      height: rem(2) !important;
      background-color: $colorBlue;
      &::-webkit-slider-thumb {
         -webkit-appearance: none;
         cursor: pointer;
         appearance: none;
         height: rem(10) !important;
         width: rem(10) !important;
         border-radius: 50% !important;
         border: rem(2) solid $colorBlue !important;
         background-color: #fff !important;
         @media (any-hover: hover) {
            &:hover {
               width: rem(12) !important;
               height: rem(12) !important;
            }
         }
      }
   }

   &__columns {
   }

   &__button {
      height: rem(40);
      width: 100%;
   }
}
.creditCalc-columns {
   display: flex;
   justify-content: space-between;
   @include adaptiveValue("column-gap", 30, 20);
   &__column {
      flex: 0 1 50%;
   }

   &__title {
      @include adaptiveValue("font-size", 14, 12);
      line-height: math.div(19, 14);
      color: $colorDarkGrey;
      margin-bottom: rem(10);
   }

   &__value {
      @include adaptiveValue("font-size", 16, 14);
      line-height: math.div(22, 16);
      font-weight: 700;
      height: rem(50);
      background: #f6f8fc;
      display: flex;
      align-items: center;
      padding: 0 rem(15);
   }
}
