// Заголовки, общие БЄМ блоки и прочeе...

.title {
   @include adaptiveValue("font-size", 48, 32);
   line-height: math.div(52, 48);
   font-weight: 700;
   text-transform: lowercase;
   color: $colorBlue;
}

.text {
   @include adaptiveValue("font-size", 16, 12);
   line-height: math.div(22, 16);
}

.item {
   transition: box-shadow 0.3s ease 0s, transform 0.3s ease 0s;
   @media (any-hover: hover) {
      &:hover {
         box-shadow: rem(3) rem(3) 0 rgba(0, 0, 0, 0.15);
         transform: translate(0, rem(-10));
      }
   }
}

.tabs {
   border: rem(0.5) solid $colorGrey;
   box-shadow: rem(2) rem(2) 0 rgba(0, 0, 0, 0.07);
   transition: all 0.3s ease 0s;
   @media (any-hover: hover) {
      &:hover {
         background: $colorGrey;
      }
   }
   &.active {
      background: $colorGrey;
      box-shadow: none;
      border: none;
   }
}

.border {
   background: #ffffff;
   border: rem(0.5) solid $colorDarkGrey;
   box-shadow: rem(2) rem(2) 0 rgba(0, 0, 0, 0.07);
}

.scroll {
   &::-webkit-scrollbar {
      width: rem(5);
      height: rem(5);
   }
   &::-webkit-scrollbar-track {
      border-radius: rem(3);
      background-color: #f6f8fc;
   }
   &::-webkit-scrollbar-thumb {
      background-color: $colorDarkGrey;
      border-radius: rem(10);
   }
}
//Кнопки==============================================================================================================================================
.btn-orange {
   background-color: $colorOrange;
   color: #fff;
   box-shadow: rem(3) rem(3) 0 rgba(223, 117, 79, 0.53);
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 700;
   @include adaptiveValue("font-size", 14, 12);
   line-height: math.div(19, 14);
   transition: all 0.3s ease 0s;
   @media (any-hover: hover) {
      &:hover {
         background-color: $colorOrange;
         box-shadow: none;
      }
   }
}

.btn {
   background-color: #fff;
   border: rem(1) solid $colorOrange;
   color: $colorOrange;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 700;
   @include adaptiveValue("font-size", 14, 12);
   line-height: math.div(19, 14);
   transition: all 0.3s ease 0s;
   @media (any-hover: hover) {
      &:hover {
         background-color: rgba(223, 117, 79, 0.7);
         color: #fff;
      }
   }
}

.btn-black {
   background-color: $mainColor;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 700;
   @include adaptiveValue("font-size", 14, 12);
   line-height: math.div(19, 14);
   transition: all 0.3s ease 0s;
   @media (any-hover: hover) {
      &:hover {
         background-color: #4a4a4a;
      }
   }
}

.btn-white {
   background-color: #fff;
   color: $mainColor;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 700;
   @include adaptiveValue("font-size", 14, 12);
   line-height: math.div(19, 14);
   transition: all 0.3s ease 0s;
   @media (any-hover: hover) {
      &:hover {
         background-color: #dedede;
      }
   }
}

//Цвет карточек==============================================================================================================================================
.blue {
   background-color: $colorBlue;
   color: #fff;
}

.orange {
   background-color: $colorOrange;
   color: #fff;
}

.black {
   background-color: $mainColor;
   color: #fff;
}

.white {
   background-color: #fff;
   color: $mainColor;
}

.grey {
   background-color: $colorGrey;
   color: $mainColor;
   li {
      &:before {
         background-color: $mainColor;
      }
   }
}

.filter {
   background: #ffffff;
   border: rem(0.5) solid $colorDarkGrey;
   box-shadow: rem(2) rem(2) rem(4) rgba(0, 0, 0, 0.07);
}

//управление слайдера
.arrow {
   cursor: pointer;
   background: $colorGrey;
   border: em(0.5) solid $colorDarkGrey;
   box-shadow: rem(2) rem(2) 0 rgba(0, 0, 0, 0.07);
   @include adaptiveValue("width", 40, 30);
   @include adaptiveValue("height", 40, 30);
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.3s ease 0s;
   @media (any-hover: hover) {
      &:hover {
         box-shadow: none;
      }
   }
   &::before {
      font-size: rem(12);
   }
}

.pagination {
   display: flex;
   column-gap: rem(12);
   align-items: center;
   justify-content: center;

   span {
      width: rem(4);
      height: rem(4);

      background: $colorDarkGrey;

      &.active {
         width: rem(6);
         height: rem(6);

         background: $colorOrange;
      }
   }
}
//Хлебный крошки============================================================================================================================================
.breadcrumbs {
   @include adaptiveValue("padding-top", 20, 10);

   &__list {
   }

   &__item {
      @include adaptiveValue("font-size", 14, 12);
      line-height: math.div(19, 14);
      display: inline;
      &:not(:last-child) {
         margin-right: rem(5);
      }
   }

   &__link {
      display: inline-flex;
      align-items: center;
      column-gap: rem(5);
      color: $colorDarkGrey;

      &::after {
         content: "";
         margin-top: rem(3);
         width: rem(4);
         height: rem(4);
         border-radius: 50%;
         background-color: $colorDarkGrey;
      }
   }

   &__current {
   }
}
