.mat-capital {
   background-color: $colorGrey;
   @include adaptiveValue("padding-top", 50, 30);
   @include adaptiveValue("padding-bottom", 70, 30);

   &__container {
   }

   &__body {
      display: flex;
      column-gap: rem(60);
   }

   &__content {
   }

   &__title {
      margin-bottom: rem(20);
   }

   &__text {
      margin-bottom: rem(30);
   }

   &__button {
      @include adaptiveValue("width", 316, 212);
      height: rem(40);
   }

   &__image {
      height: rem(371);
      @include adaptiveValue("margin-top", -50, -30);
      @media (max-width: em(1024)) {
         display: none;
      }
   }
}
