.projects {
   @include adaptiveValue("padding-top", 40, 20);
   @include adaptiveValue("padding-bottom", 70, 30);

   &__container {
   }

   &__body {
      display: flex;
      flex-direction: column;
   }

   &__title {
      @include adaptiveValue("margin-bottom", 20, 10);
   }
}

.projects-actions {
   display: flex;
   justify-content: space-between;
   padding-top: rem(20);
   @include adaptiveValue("padding-left", 10, 0);
   @include adaptiveValue("padding-right", 10, 0);
   @media (max-width: em(1024)) {
      padding-top: 0;
   }

   &__list {
      display: flex;
      column-gap: rem(45);
      @media (max-width: em(1024)) {
         display: none;
      }
   }

   &__item {
   }

   &__link {
      font-size: rem(14);
      line-height: math.div(19, 14);

      &._active {
         font-weight: 700;
         color: $colorBlue;
         border-bottom: rem(1) solid $colorBlue;
      }

      @media (any-hover: hover) {
         &:hover {
            border-bottom: rem(1) solid $mainColor;
         }
      }
   }

   &__sorts {
      display: flex;
      column-gap: rem(30);
   }

   &__tile {
      display: flex;
      align-items: center;
      column-gap: rem(5);
      @include adaptiveValue("font-size", 14, 12);
      line-height: math.div(19, 14);

      @media (max-width: em(425)) {
         display: none;
      }

      &._active {
         color: $colorBlue;
      }
   }

   &__map {
      display: flex;
      align-items: center;
      column-gap: rem(5);
      @include adaptiveValue("font-size", 14, 12);
      line-height: math.div(19, 14);

      &::before {
         font-size: rem(18);
      }

      @media (max-width: em(425)) {
         width: rem(145);
         height: rem(31);
         justify-content: center;
         background: #ffffff;
         border: rem(0.5) solid $colorDarkGrey;
         box-shadow: rem(2) rem(2) rem(4) rgba(0, 0, 0, 0.07);
         border-radius: rem(10);
      }
   }
}

.projects-items {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: space-between;
   gap: rem(30);
   margin-top: rem(20);
   @include adaptiveValue("margin-bottom", 40, 30);

   @media (max-width: em(1024)) {
      grid-template-columns: repeat(2, 1fr);
   }

   @media (max-width: em(700)) {
      grid-template-columns: 1fr;
   }

   &__item {
      @media (any-hover: hover) {
         &:hover {
            .projects-items__button {
               background-color: $colorGrey;
               box-shadow: none;
            }

            .projects-items__name {
               color: $colorOrange;
            }

            img {
               transform: scale(1.2);
            }
         }
      }
   }

   &__image {
      position: relative;
      overflow: hidden;
      width: 100%;
      @include adaptiveValue("margin-bottom", 20, 10);
      @include adaptiveValue("height", 276, 224);

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         transition: transform 0.5s linear 0s;
      }
   }

   &__info {
      display: grid;
      grid-template-columns: repeat(2, auto);
      justify-content: space-between;
      gap: rem(10);
      margin-bottom: rem(15);
      padding: 0 rem(10);
   }

   &__name {
      font-weight: 700;
      @include adaptiveValue("font-size", 18, 14);
      line-height: math.div(25, 18);
      transition: all 0.3s ease 0s;
   }

   &__price {
      font-weight: 700;
      @include adaptiveValue("font-size", 18, 14);
      line-height: math.div(25, 18);
   }

   &__location {
      display: flex;
      align-items: center;
      column-gap: rem(10);
      @include adaptiveValue("font-size", 14, 12);
      line-height: math.div(14, 12);
      line-height: math.div(19, 14);

      &::before {
         color: $colorBlue;
         font-size: rem(18);
      }
   }

   &__deadline {
      @include adaptiveValue("font-size", 14, 12);
      line-height: math.div(14, 12);
      line-height: math.div(19, 14);
      text-align: right;
   }

   &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      @include adaptiveValue("font-size", 14, 12);
      line-height: math.div(19, 14);
      @include adaptiveValue("width", 118, 101);
      @include adaptiveValue("height", 34, 31);
      background: #fff;
      border: rem(0.5) solid $colorDarkGrey;
      box-shadow: rem(3) rem(3) 0 rgba(0, 0, 0, 0.07);
      transition: all 0.3s ease 0s;
   }
}
