.features-home {
   @include adaptiveValue("padding-top", 50, 30);
   @include adaptiveValue("padding-bottom", 50, 30);

   &__container {
   }

   &__body {
      display: flex;
      flex-direction: column;
      @include adaptiveValue("row-gap", 40, 20);
   }

   &__title {
   }

   &__items {
   }

   &__control-slider {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      row-gap: rem(20);
   }

   &__pagination {
   }

   &__arrows {
      display: flex;
      column-gap: rem(12);
      @media (max-width: em(768)) {
         display: none;
      }
   }

   &__arrow-prev {
      &::before {
         transform: rotate(90deg);
      }
   }

   &__arrow-next {
      &::before {
         transform: rotate(-90deg);
      }
   }
}

.features-items {
   display: grid;
   grid-template-columns: repeat(4, auto);
   justify-content: space-between;
   column-gap: rem(10);

   &__item {
      overflow: hidden;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      @include adaptiveValue("width", 270, 202);
   }

   &__image {
      width: 100%;
      @include adaptiveValue("height", 177, 132);
   }

   &__content {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      justify-content: space-between;
      row-gap: rem(10);
      padding-top: rem(10);
      @include adaptiveValue("padding-left", 20, 10);
      @include adaptiveValue("padding-right", 20, 10);
      @include adaptiveValue("padding-bottom", 30, 20);
   }

   &__title {
      @include adaptiveValue("font-size", 32, 18);
      font-weight: 700;
   }

   &__text {
      @include adaptiveValue("font-size", 16, 12);
      line-height: math.div(22, 16);
   }
}
