.stage-home {
   @include adaptiveValue("padding-top", 50, 30);
   @include adaptiveValue("padding-bottom", 70, 30);

   &__container {
   }

   &__title {
      @include adaptiveValue("margin-bottom", 30, 20);
   }

   &__stage {
      margin-bottom: rem(10);
      height: rem(4);
      background-color: $colorDarkGrey;
      max-width: rem(560);
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
         width: rem(16);
         height: rem(16);
         border-radius: 50%;
         background-color: $colorBlue;
      }
   }

   &__line {
      display: flex;
      height: rem(4);
      width: 66%;
      background-color: $colorBlue;
      align-items: center;
      justify-content: space-between;
      align-self: start;
   }

   &__percent {
      position: relative;
      display: flex;
      justify-content: center;

      &::after {
         content: "66%";
         position: absolute;
         top: rem(20);
         @include adaptiveValue("font-size", 14, 12);
         line-height: math.div(19, 14);
      }
   }

   &__time {
      text-align: right;
      @include adaptiveValue("margin-bottom", 35, 20);
      @include adaptiveValue("font-size", 16, 12);
      line-height: math.div(22, 16);

      @media (max-width: em(1024)) {
         text-align-last: left;
         margin-top: rem(35);
      }
   }

   &__pagination {
      display: none;
      margin-top: rem(20);
      @media (max-width: em(1024)) {
         display: flex;
      }
   }
}

.stage-items {
   display: grid;
   grid-template-columns: repeat(4, auto);
   justify-content: space-between;
   column-gap: rem(10);

   &__item {
      overflow: hidden;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      @include adaptiveValue("row-gap", 20, 10);
      @include adaptiveValue("width", 270, 248);
   }

   &__image {
      width: 100%;
      height: rem(190);
   }

   &__data {
      padding-left: rem(10);
      @include adaptiveValue("font-size", 16, 12);
      line-height: math.div(22, 16);
   }
}
