* {
  --font-family: 'Aeroport';
  --font-size: rem(16);
  --main-color: #333333;
  --min-width: 320px;
  --max-width: 1920px;
  --max-width-container: 1170px;
  --container-padding: 20px;
}

body {
  margin: 0;
  font-family: 'Aeroport';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Aeroport';
  font-display: swap;
  src: local('Aeroport Bold'), url(./fonts/Aeroport-bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Aeroport';
  font-display: swap;
  src: local('Aeroport Regular'),
    url(./fonts/Aeroport-regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'icons';
  font-display: swap;
  src: local('Icons'), url(./fonts/icons.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
