.header {
  @media (max-width: em(768)) {
    &._header-scroll {
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #fff;
    }
  }
  .menu-open & {
    &::before {
      content: '';
      position: fixed;
      z-index: 5;
      width: 100%;
      height: rem(50);
      left: 0;
      top: 0;
      background-color: #fff;
    }
  }
  &__top {
    padding: rem(10) 0;
    background-color: $mainColor;
    color: #fff;
    @media (max-width: em(768)) {
      display: none;
    }
  }

  &__main {
  }
}
.top-header {
  &__container {
  }

  &__list {
    display: flex;
    @include adaptiveValue(' column-gap', 110, 30);
    @media (max-width: em(768)) {
      align-self: start;
      flex-direction: column;
      row-gap: rem(10);
      align-items: center;
    }
  }

  &__item {
  }

  &__link {
    font-size: rem(14);
    line-height: math.div(19, 14);
    @media (any-hover: hover) {
      &:hover {
        border-bottom: rem(1) solid #fff;
      }
    }
  }
}
.main-header {
  &__container {
  }

  &__body {
    @include adaptiveValue('padding-top', 16, 7);
    @include adaptiveValue('padding-bottom', 16, 7);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    @include adaptiveValue('column-gap', 30, 20);
  }

  &__logo {
    position: relative;
    z-index: 10;
    @include adaptiveValue('width', 137, 85);
    @include adaptiveValue('height', 48, 30);
  }

  &__menu {
    flex: 1 1 auto;
    @media (max-width: em(768)) {
      display: grid;
      grid-template: auto;
      justify-content: center;
      row-gap: rem(10);
      padding: rem(50) rem(10) rem(30);
      transform: translate(-100%, 0);
      position: fixed;
      z-index: 4;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: auto;
      transition: all 0.3s ease 0s;
      background-color: #fff;
      .menu-open & {
        transform: translate(0, 0);
      }
    }
  }

  &__tel {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    font-weight: 700;
    column-gap: rem(10);
    @include adaptiveValue('font-size', 14, 12);
    line-height: math.div(19, 14);
    flex-wrap: nowrap;
    &::before {
      font-size: rem(17);
    }
    @media (max-width: em(768)) {
      justify-content: flex-end;
    }
    @media (max-width: em(425)) {
      &::before {
        display: none;
      }
    }
  }

  &__icon {
  }
}
.menu {
  &__list {
    display: flex;
    column-gap: rem(50);
    justify-content: center;
    flex-wrap: wrap;
    row-gap: rem(10);
    @media (max-width: em(768)) {
      align-self: flex-end;
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
  }

  &__link {
    font-size: rem(14);
    line-height: math.div(19, 14);
    @media (any-hover: hover) {
      &:hover {
        border-bottom: rem(1) solid $mainColor;
      }
    }
  }

  &__contacts {
    display: none;
    @media (max-width: em(768)) {
      display: flex;
      flex-direction: column;
      padding: rem(20) 0;
      align-items: center;
      justify-content: center;
      row-gap: rem(20);
      order: 3;
      border-top: rem(1) solid #dddddd;
      border-bottom: rem(1) solid #dddddd;
    }
  }

  &__contact {
    display: flex;
    column-gap: rem(10);
    align-items: center;
    font-size: rem(14);
    line-height: math.div(19, 14);
    &::before {
      font-size: rem(16);
    }
  }

  &__socials {
    display: flex;
    column-gap: rem(10);
  }

  &__social {
    &::before {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(30);
      height: rem(30);
      border-radius: rem(10);
      background-color: $mainColor;
      color: #fff;
    }
  }
}

.icon-menu {
  display: none;
  @media (max-width: em(768)) {
    display: block;
    position: relative;
    width: rem(21);
    height: rem(12);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: '';
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #df754f;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
