.page {
  &__options {
    background-color: #f6f8fc;
  }

  &__about {
  }

  &__progress {
    background-color: #f6f8fc;
  }

  &__standarts {
  }
  &__news {
    background-color: #f6f8fc;
  }
}
//========================================================================================================================================================

.options-block {
  &__container {
  }

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    @include adaptiveValue('row-gap', 80, 40);
    @include adaptiveValue('padding-top', 50, 20);
    @include adaptiveValue('padding-bottom', 50, 20);
  }

  &__content {
    max-width: rem(470);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include adaptiveValue('gap', 30, 10);
    @media (max-width: em(1024)) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: em(650)) {
      grid-template-columns: 1fr;
    }
  }

  &__image {
    position: absolute;
    right: 0;
    top: 0;
    @include adaptiveValue('width', 485, 300, 1170, 768, 1);
    @media (max-width: em(768)) {
      display: none;
    }
  }
}
.options-content {
  &__title {
    margin-bottom: rem(20);
  }

  &__subtitle {
    @include adaptiveValue('font-size', 22, 18);
    font-weight: 700;
    line-height: math.div(30, 22);
    @include adaptiveValue('margin-bottom', 20, 10);
    span {
      color: #df754f;
    }
  }

  &__text {
    @include adaptiveValue('margin-bottom', 40, 30);
  }

  &__buttons {
    display: flex;
    column-gap: rem(20);
    @media (max-width: em(426)) {
      justify-content: space-between;
      column-gap: rem(5);
    }
  }

  &__button {
  }
}
.options-items {
  &__item {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  &__image {
    width: 100%;
    @media (max-width: em(1024)) {
      display: none;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    row-gap: rem(10);
    flex: 1 1 auto;
    padding: rem(15) rem(20) 0;
    @include adaptiveValue('padding-bottom', 45, 15);
  }

  &__title {
    @include adaptiveValue('font-size', 32, 18);
    font-weight: 700;

    &::before {
      display: none;
    }
    @media (max-width: em(460)) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      &::before {
        font-size: rem(14);
        display: block;
        transform: rotate(-90deg);
      }
    }
  }

  &__subtitle {
    @media (max-width: em(460)) {
      display: none;
    }
  }
}
//========================================================================================================================================================
.about-block {
  &__container {
  }

  &__body {
  }

  &__title {
    margin-bottom: rem(20);
  }

  &__content {
    display: grid;
    grid-template-columns: auto auto;
    gap: rem(20);
    align-items: center;
    @include adaptiveValue('margin-bottom', 40, 20);
    @media (max-width: em(768)) {
      grid-template-columns: auto;
    }
  }

  &__text {
    max-width: rem(670);
    @media (max-width: em(768)) {
      order: 2;
    }
  }

  &__image {
    @include adaptiveValue('width', 472, 146);
    @include adaptiveValue('height', 166, 52);
    @media (max-width: em(768)) {
      order: 1;
    }
  }

  &__button {
  }
}

//========================================================================================================================================================
.progress-block {
  &__container {
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    @include adaptiveValue('gap', 30, 10);
    @media (max-width: em(1024)) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: em(600)) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    border-radius: rem(10);
    border: rem(0.5) solid #cacacb;
    display: flex;
    flex-direction: column;
    @include adaptiveValue('row-gap', 20, 5);
    @include adaptiveValue('padding', 25, 20);
  }

  &__title {
    @include adaptiveValue('font-size', 36, 22);
    line-height: math.div(49, 36);
    font-weight: 700;
  }

  &__text {
    @include adaptiveValue('font-size', 16, 12);
    line-height: math.div(22, 16);
  }
}
//========================================================================================================================================================
.standarts-block {
  &__container {
  }

  &__body {
  }

  &__title {
    @include adaptiveValue('margin-bottom', 20, 10);
  }

  &__text {
    display: flex;
    max-width: rem(670);
    flex-direction: column;
    @include adaptiveValue('margin-bottom', 40, 20);
    @media (max-width: em(426)) {
      row-gap: rem(10);
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include adaptiveValue('gap', 30, 10);
    @include adaptiveValue('gap', 30, 10);
    @media (max-width: em(900)) {
      grid-template-columns: 1fr;
    }
  }
}

.standarts-cards {
  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    @include adaptiveValue('height', 393, 310);
    @include adaptiveValue('padding', 30, 20);
  }

  &__title {
    @include adaptiveValue('font-size', 32, 22);
    font-weight: 700;
    @include adaptiveValue('margin-bottom', 20, 10);
  }

  &__list {
    flex: 1 1 auto;
    padding-left: rem(5);
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: rem(8);
    @include adaptiveValue('font-size', 16, 12);
    line-height: math.div(22, 16);
    &:before {
      content: '';
      background-color: #fff;
      align-self: start;
      @include adaptiveValue('margin-top', 9, 6);
      flex: 0 0 rem(5);
      height: rem(5);
      border-radius: 50%;
    }
  }

  &__button {
  }

  &__image {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 45%;
  }
}

.white {
  li {
    &:before {
      background-color: $mainColor;
    }
  }
}

//========================================================================================================================================================

.news-block {
  &__container {
  }

  &__body {
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptiveValue('margin-bottom', 40, 20);
  }

  &__title {
    span {
      @media (max-width: em(768)) {
        display: none;
      }
    }
  }

  &__link {
    @include adaptiveValue('font-size', 16, 14);
    line-height: math.div(22, 16);
    color: #2f76b3;
    font-weight: 700;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
    @media (max-width: em(768)) {
      span {
        display: none;
      }
    }
  }

  &__slider {
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @include adaptiveValue('width', 270, 202);
  }

  &__image {
    width: 100%;
  }

  &__text {
    flex: 1 1 auto;
    @include adaptiveValue('padding', 20, 10);
  }

  &__subtitle {
    @include adaptiveValue('font-size', 18, 14);
    line-height: math.div(25, 18);
    font-weight: 700;
    margin-bottom: rem(45);
  }

  &__data {
    @include adaptiveValue('font-size', 16, 12);
    line-height: math.div(22, 16);
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: rem(12);
    .swiper-pagination-bullet {
      display: none;
      margin-top: rem(20);
      width: rem(4);
      height: rem(4);
      border-radius: 50%;
      background-color: #cacacb;
      @media (max-width: em(768)) {
        display: block;
      }
    }
    .swiper-pagination-bullet-active {
      width: rem(6);
      height: rem(6);
      background-color: #df754f;
    }
  }
}
