@use 'sass:math';

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import 'base/mixins';

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import 'fonts/icons';

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: 'Aeroport';
$fontSize: rem(16); //  размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #333333; // Цвет шрифта по умолчанию
$colorBlue: #2f76b3;
$colorOrange: #df754f;
$colorGrey: #edecec;
$colorDarkGrey: #cacacb;

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1170;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 20;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import 'base/null';

body {
  // Скролл заблокирован
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  letter-spacing: 0.025em;
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}
// Ограничивающий контейнер======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
  // Отзывчивая
  [class*='__container'] {
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }
  }
}

//Подключение стилей==========================================================================================================================================
@import './base/common.scss';
@import 'blocks/header.scss';
@import 'blocks/footer.scss';

//Подключение повторяющий блоков=========================================================================================================================================
@import 'blocks/options.scss';
@import 'blocks/projects.scss';
@import 'blocks/standarts.scss';
@import 'blocks/table.scss';

//Подключение повторяющий элементов==========================================================================================================================
@import './components/button-more.scss';
@import './components/creditCalc.scss';
@import './components/priceFilter.scss';
@import './components/range.scss';
@import './components/roomsFilter.scss';
@import './components/areaFilter.scss';
@import './components/floorFilter.scss';
@import './components/buttonWatch.scss';
@import './components/buttonFilters.scss';
@import './components/locationFilter.scss';
@import './components/complexFilter.scss';
@import './components/timeFilter.scss';
@import './components/entranceFilter.scss';
@import './components/reserve.scss';
@import './components/clean.scss';
@import './components/roomTypeFilter.scss';

//Подключение блоков страниц==========================================================================================================================
//Главная===============================================================================================================================================
@import 'blocks/main/about.scss';
@import 'blocks/main/progress.scss';
@import 'blocks/main/news.scss';

//Дом скворцы===============================================================================================================================================
@import 'blocks/NewHome/about.scss';
@import 'blocks/NewHome/features.scss';
@import 'blocks/NewHome/info.scss';
@import 'blocks/NewHome/infrastructure.scss';
@import 'blocks/NewHome/layout.scss';
@import 'blocks/NewHome/stage.scss';
//Каталог=================================================================================================================================================
@import 'blocks/catalog/catalog.scss';
//Карточка квартиры============================================================================================================================================
@import 'blocks/card-apartaments/apartaments.scss';
@import 'blocks/card-apartaments/apartaments-slider.scss';
//Каталог квартир===============================================================================================================================================
@import 'blocks/catalog-apartaments/catalog-filter.scss';
//Новости=================================================================================================================================================
@import 'blocks/News/news.scss';
@import 'blocks/article/article.scss';
//Технологии строительства======================================================================================================================================
@import 'blocks/Technology/bathroom.scss';
@import 'blocks/Technology/facades.scss';
@import 'blocks/Technology/flooring.scss';
@import 'blocks/Technology/renovation.scss';
@import 'blocks/Technology/technology-nav.scss';
@import 'blocks/Technology/walls.scss';
@import 'blocks/Technology/window.scss';
//Коммуникации==========================================================================================================================================
@import 'blocks/communications/communications-nav.scss';
@import 'blocks/communications/_water.scss';
@import 'blocks/communications/boiler-room.scss';
@import 'blocks/communications/canalization.scss';
@import 'blocks/communications/heating-uponor.scss';
@import 'blocks/communications/heating.scss';
@import 'blocks/communications/lift.scss';
@import 'blocks/communications/radiators.scss';
@import 'blocks/communications/soundproofing.scss';
//места общего пользования======================================================================================================================================
@import 'blocks/common-areas/common-areas.scss';
//Придомовая территория===================================================================================================================================
@import 'blocks/house-territory/house-territory.scss';
//Машиноместо==============================================================================================================================================
@import 'blocks/parking/parking.scss';
//Кладовая===========================================================================================================================================
@import 'blocks/larder/larder.scss';
//карточка Коммерция=============================================================================================================================================
@import 'blocks/card-commerce/card-commerce.scss';
//Коммерция=============================================================================================================================================
@import 'blocks/commerce/commerce-filetrs.scss';
@import './components/locationCommerceFilter.scss';
@import 'blocks/commerce/table-commerce.scss';
//Аренда коммерции===========================================================================================================================================
@import 'blocks/RentCommerce/RentCommerceFilters.scss';
@import 'blocks/RentCommerce/RentCommerceTable.scss';
//Покупателям==============================================================================================================================================
@import 'blocks/client/client-nav.scss';
@import 'blocks/client/guarantee.scss';
@import 'blocks/client/reception.scss';

//способы приобретения========================================================================================================================================
@import './components/creditCalc.scss';
@import './components/calc.scss';
@import 'blocks/options/options-nav.scss';
@import 'blocks/options/good-buy.scss';
@import 'blocks/options/hypothec.scss';
@import 'blocks/options/installment.scss';
@import 'blocks/options/mat-capital.scss';
@import 'blocks/options/subsidies.scss';
@import 'blocks/options/trade-in.scss';
@import 'blocks/options/useful.scss';
//Попап================================================================================================================================================
@import 'popup/MobileCommerceFilter.scss';
@import 'popup/MobileFilter.scss';
@import 'popup/MobileRentFilters.scss';
